.page {
  background-color: #0d0d0d;
  min-height: 100vh;
  padding: 40px;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0;
}

.movieItem {
  background-color: #1a1a1a;
  padding: 15px;
  border-radius: 8px;
  list-style: none;
  max-height: 2em;
  white-space: nowrap;
}

.movieItem:hover {
  transform: scale(1.05);
  background-color: #262626;
  white-space: normal;
  overflow: hidden;
  max-height: 15em;
  transition: max-height 1s ease;
}

.movieItem:hover img {
  width: 20%;
}

.movieItem a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieItem a:hover {
  text-decoration: underline;
}

.movieItem img {
    width: 10%;
    height: auto;
}

.movieItem img:hover {
    cursor: pointer;
}

.movieItem div {
    display: flex;
    align-items: center;
    gap: 10px;
}