.nav {
    background-color: red;
    padding: 20px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav li {
    font-size: 18px;
    font-weight: bold;
}

.nav a {
    color:white;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}